<form [formGroup]="miFormulario" (ngSubmit)="editar()">
  <div class="row">
    <div class="col my-4">
      <h1>
        {{'Mi perfil'|translate}}: {{ usuario.nombre | titlecase }}
        {{ usuario.apellido1 | titlecase }} {{ usuario.apellido2 | titlecase }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-5">


      <div *ngIf="usuario.imagen" class="col text-center">
        <img
          [src]="usuario.imagen! | imagen"
          class="img-fluid img-thumbnail"
          style="width: 400px; height: 400px"
        />
      </div>
      <div *ngIf="usuario.imagen =='' || usuario.imagen==null" class="col text-center">
        <img
          src="http://www.iestrassierra.net/alumnado/curso2021/DAW/daw2021a2/assets/no-image.png"
          class="img-fluid img-thumbnail"
          style="width: 400px; height: 400px"
        />
      </div>
    
    
      <div class="my-3">
        <div class="mb-0" *ngIf="previsualizacion">
          <img [src]="previsualizacion" style="width: 300px; height: 300px" />
        </div>
    
        <label for="formFile" class="form-label">{{'Foto'|translate}}:</label>
        <input
          id="formFile"
          [formControl]="file"
          (change)="fileChange($event)"
          type="file"
          placeholder="File"
          class="form-control"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
      >
        {{'Actualizar datos'|translate}}
        <i class="fa fa-edit"></i>
      </button>
      <button
        type="button"
        class="btn btn-danger float-start"
        (click)="cambiarPassword()"
      >
        {{'Cambiar contraseña'|translate}}
        <i class="fas fa-key"></i>
      </button>
        <br>
      <form [formGroup]="formPassword" (ngSubmit)="confirmarPassword()">
        <div class="row mt-5" *ngIf="cambiarPass">
          <mat-form-field>
            <mat-label>{{'Contraseña actual'|translate}}</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Introduzca la contraseña actual'|translate"
              formControlName="passwordactual"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValid('passwordactual')"
          >
            {{ passwordErrorActual }}
          </span>
          <div class="col mb-4">
            <a routerLink="/auth/passwordOlvidada"
              >¿{{'Has olvidado tu contraseña'|translate}}?</a
            >
          </div>
          <mat-form-field>
            <mat-label>{{'Nueva contraseña'|translate}}</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Introduzca la nueva contraseña'|translate"
              formControlName="password"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValid('password')"
          >
            {{ passwordErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Confirmar contraseña'|translate}}</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca la nueva contraseña"
              formControlName="password2"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValid('password2')"
          >
            {{'Las contraseñas deben de ser iguales'|translate}}
          </span>
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="formPassword.invalid"
          >
            {{'Actualizar contraseña'|translate}}
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="row">
          <mat-form-field>
            <mat-label>{{'Email:(no se puede cambiar)'|translate}}</mat-label>
            <input matInput formControlName="email" readonly />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'Nombre'|translate}}:</mat-label>
            <input
              di
              matInput
              [placeholder]="'placeholder.Introduzca su nombre'|translate"
              formControlName="nombre"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('nombre')"
          >
            {{'El nombre es requerido'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Primer apellido'|translate}}:</mat-label>
            <input
              matInput
              [placeholder]="
                  'placeholder.Introduzca su primer apellido' | translate
                "
              formControlName="apellido1"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('apellido1')"
          >
            {{'El primer apellido es requerido'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Segundo apellido'|translate}}:</mat-label>
            <input
              matInput
              [placeholder]="
              'placeholder.Introduzca su segundo apellido' | translate
            "
              formControlName="apellido2"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>DNI/NIE:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su dni' | translate"       
              formControlName="dni"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('dni')"
          >
            {{ dniErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Nº de cuenta bancaria (24 digitos)'|translate}}: </mat-label>
            <input
              matInput
              matInput
              #input
              maxlength="24"
              [placeholder]="'placeholder.Introduzca su contraseña' | translate"   
              formControlName="cuenta_bancaria"
            />
            <mat-hint align="end">{{ input.value?.length || 0 }}/24</mat-hint>
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cuenta_bancaria')"
          >
            {{ cuentaErrorMsg }}
          </span>

          <mat-radio-group formControlName="sexo" class="mb-4">
           {{'Sexo'|translate}}:
            <br />
            <mat-radio-button value="hombre" color="warn"
              >{{'Hombre'|translate}}</mat-radio-button
            >
            <br />
            <mat-radio-button value="mujer" color="warn"
              >{{'Mujer'|translate}}</mat-radio-button
            >
          </mat-radio-group>

          <mat-form-field>
            <mat-label>{{'Fecha de nacimiento'|translate}}: (+18) </mat-label>
            <input matInput type="date" formControlName="fecha_nac" />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('fecha_nac') || esMenor() "
          >
            {{'La edad minima requerida son 18 años'|translate}}
          </span>        

          <mat-form-field>
            <mat-label
              >{{'Nº de telefono'|translate}}: <mat-icon>call_end</mat-icon>
            </mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su numero de telefono' | translate"    
              formControlName="telefono"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('telefono')"
          >
            {{ telefonoErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Ciudad'|translate}}:</mat-label>
            <input
              matInput
              formControlName="ciudad"
              [placeholder]="'placeholder.Introduzca la ciudad de su domicilio' | translate"  
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('ciudad')"
          >
            {{'La ciudad es requerida'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Direccion'|translate}}:</mat-label>
            <input
              matInput
              formControlName="direccion"
              [placeholder]="'placeholder.Introduzca su direccion' | translate"     
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('direccion')"
          >
            {{'La direccion es requerida'|translate}}
          </span>
          <mat-form-field>
            <mat-label>{{'Codigo postal'|translate}}:</mat-label>
            <input
              matInput
              formControlName="cod_postal"
              [placeholder]="'placeholder.Introduzca su codigo postal' | translate"      
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cod_postal')"
          >
            {{'El codigo postal es requerido'|translate}}
          </span>
          <mat-form-field *ngIf="role != 1">
            <mat-label>{{'Centro'|translate}}:</mat-label>
            <input
              disabled
              matInput
              required
              name="centro"
              value="{{ centro | titlecase }}"
            />
          </mat-form-field>
          <mat-form-field *ngIf="role == 2">
            <mat-label>{{'Tarifa actual'|translate}}:</mat-label>
            <input
              disabled
              matInput
              required
              name="tarifa"
              value="{{ tarifa | titlecase }}"
            />
          </mat-form-field>
          <mat-form-field
            *ngIf="role == 2 && user.estado == 'activo'"
          >
            <mat-label>{{'Numero de reservas'|translate}}:</mat-label>
            <input
              disabled
              matInput
              required
              name="reservas"
              value="{{ reservas }}"
            />
          </mat-form-field>

          <mat-form-field
            *ngIf="role == 2 && user.estado == 'activo'"
          >
            <mat-label>{{'Fecha alta'|translate}}:</mat-label>
            <input type="date" matInput formControlName="fecha_alta" readonly />
          </mat-form-field>

          <mat-form-field *ngIf="role == 2 && user.estado == 'baja'">
            <mat-label>{{'Fecha baja'|translate}}:</mat-label>
            <input type="date" matInput formControlName="fecha_baja" readonly />
          </mat-form-field>

          <div *ngIf="role == 2">
            {{'Estado actual'|translate}} :<span
              [ngClass]="{
                'text-success': user.estado === 'activo',
                'text-danger': user.estado === 'baja',
                'text-secondary': user.estado === 'bloqueado'
              }"
            >
              {{ user.estado | titlecase }}</span
            >
            <a
            type="button"
              *ngIf="user.estado == 'activo'"
              class="btn btn-primary mx-3"
              (click)="darBaja()"
            >
              {{'Solicitar baja'|translate}}
            </a>
            <a
            type="button"
              *ngIf="user.estado == 'baja'"
              class="btn btn-primary mx-3"
              (click)="darAlta()"
            >
              {{'Solicitar alta'|translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
