<h2>BIENVENID@ A FIT & HEALTHY</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()" class="p-5 border border-primary">
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Ingrese el email"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>
      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contraseña:</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder=" Ingrese la contraseña"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            La contraseña debe de ser mayor de 6 caracteres.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
            type="submit"
          >
            Login
          </button>
        </div>
      </div>
      <!-- <div *ngIf="datosIncorrectos" class="row">
        <div class="col">
          <span class="text-danger"
            >El nombre de usuario y la contraseña que ingresaste no coinciden
            con nuestros registros. Por favor, revisa e inténtalo de
            nuevo.</span>
        </div>
      </div> -->
      <div class="row mt-2">
        <div class="col">
          ¿Quieres cambiar tu estilo de vida?
          <button class="btn btn-primary" type="submit" routerLink="/auth/registro">Unete ya!</button>
        </div>
      </div>
      <div class="row">
        <div class="col"><a routerLink="/auth/passwordOlvidada">¿Has olvidado tu contraseña?</a></div>

      </div>
    
    </form>
  </div>
</div>
