<div style="background-color: rgb(255, 215, 215);" class="m-3">

<h2 class="text-center pt-5 ">{{'INICIAR SESIÓN'|translate}} <i class="fas fa-door-open"></i></h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="login()"
      class="m-5 p-5 border border-dark rounded border-2"
    >
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"><i class="fas fa-at me-1"></i>Email:</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            [ngClass]="campoNoValido('email')?'is-invalid':''"
            formControlName="email"
            [placeholder]="'placeholder.Ingrese el email'|translate"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>
      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"><i class="fas fa-key me-1"></i> {{'Contraseña'|translate}}:</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid': campoNoValido('password')
            }"
            [placeholder]="'placeholder.Ingrese la contraseña'|translate"
          />
          
          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            {{'La contraseña debe de ser mayor de 6 caracteres.'|translate}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
            type="submit"
          >
            Login
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          {{'¿Quieres cambiar tu estilo de vida?'|translate}}
          <button
            class="btn btn-primary"
            type="submit"
            routerLink="/auth/registro"
          >
            {{'inscribete ya'|translate|titlecase}}!
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a routerLink="/auth/passwordOlvidada"
            >¿{{'Has olvidado tu contraseña'|translate}}?</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
</div>