<div class="container">
  <h1>Listado de Monitores</h1>
  <hr />
  <div class="row" *ngIf="isAdmin()">
    <div class="col text-right">
      <button routerLink="./altamonitor" class="btn btn-primary">
        <i class="fa fa-user-plus"></i>
        Añadir monitor
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table table-striped table-bordered row-border hover animated fadeIn faster"
      >
        <thead class="thead-dark" *ngIf="monitores.length > 0">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Centro</th>
            <th *ngIf="isAdmin()" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ele of monitores; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ ele.nombre | titlecase }}</td>
            <td>{{ ele.apellido1 | titlecase }} {{ ele.apellido2 | titlecase }}</td>
            <td>{{ ele.email | titlecase }}</td>

            <td [ngClass]="{
              'text-warning': ele.id_centro == 'sin asignar'
            }">{{ ele.id_centro | titlecase }}</td>
            <td *ngIf="isAdmin()">
              <button class="btn btn-danger" (click)="borrarMonitor(ele, i)">
                <i class="fa fa-trash"></i>
              </button>  
              <button
              class="btn btn-warning ms-2"
              [routerLink]="['./editmonitor', ele.email]"
            >
            <i class="fas fa-search-plus"></i>
            </button>        
            </td>
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
