<h1>Añadiendo musculo</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="addMusculo()" autocomplete="off"> 
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Nombre del musculo:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
      El nombre es requerido
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Descripcion:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('descripcion')
      }"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      formControlName="descripcion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('descripcion')"
    >
      La descripcion es obligatoria
    </span>
  </div>
  <div class="my-3">
    <div class="mb-0" *ngIf="previsualizacion">
      <img [src]="previsualizacion" style="width: 300px; height: 300px" />
    </div>

    <label for="formFile" class="form-label">Imagen:</label>
    <input
      id="formFile"
      [formControl]="file"
      (change)="fileChange($event)"
      type="file"
      placeholder="File"
      class="form-control"
    />
  </div>
  <button type="button" class="btn btn-danger mx-3" routerLink="musculos">
    <i class="fas fa-arrow-circle-left"></i>
    Volver atrás
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    Añadir
  </button>
</form>
