<div class="row mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h1>Añadiendo sesion</h1>
        <hr>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <form [formGroup]="miFormulario" (ngSubmit)="add()" autocomplete="off">
          <div class="mb-5">
            <span>Elige la actividad:</span>
            <select
              class="form-select mt-2"
              formControlName="title"
              [ngClass]="{
                'is-invalid': campoNoValido('title')
              }"
            >
              <option value="">Seleccione un actividad ...</option>
              <option
                *ngFor="let actividad of actividades"
                [value]="actividad.id"
              >
                {{ actividad.nombre | titlecase }}
              </option>
            </select>
            <span
              class="form-text text-danger fst-italic"
              *ngIf="campoNoValido('title')"
            >
              La actividad es requerida
            </span>
          </div>

          <div class="mb-5">
            <span>¿En que sala se realizara?:</span>
            <select
              class="form-select mt-2"
              formControlName="sala"
              [ngClass]="{
                'is-invalid': campoNoValido('sala')
              }"
            >
              <option value="">Seleccione un sala ...</option>
              <option *ngFor="let sala of salas" [value]="sala.id">
                Sala {{ sala.id }}
              </option>
            </select>
            <span
              class="form-text text-danger fst-italic"
              *ngIf="campoNoValido('sala')"
            >
              La sala es requerida
            </span>
          </div>
          <div class="mb-5 col-md-4 col-12">
            <label for="start">Fecha y hora del inicio de la sesion:</label>
            <p-calendar *ngIf="isEspanish"
              [ngClass]="{
                'is-invalid': campoNoValido('start')
              }"
              id="start"
              type="datetime-local"
              dateFormat="dd/mm/yy"
              inputStyleClass="form-control"
              formControlName="start"
              showTime="true"
              [minDate]="today"
              [locale]="localeES"
            >
            </p-calendar>
            <p-calendar *ngIf="!isEspanish"
            [ngClass]="{
              'is-invalid': campoNoValido('start')
            }"
            id="start"
            type="datetime-local"
            dateFormat="dd/mm/yy"
            inputStyleClass="form-control"
            formControlName="start"
            showTime="true"
            [minDate]="today"
          >
          </p-calendar>
            <span
              class="form-text text-danger fst-italic"
              *ngIf="campoNoValido('start')"
            >
              La fecha y hora de inicio son requeridas
            </span>
          </div>

          <div class="mb-5 col-md-4 col-12">
            <label for="end">Fecha y hora del fin de la sesion:</label>
            <p-calendar  *ngIf="isEspanish"
              id="end"
              type=""
              dateFormat="dd/mm/yy"
              [minDate]="miFormulario.controls['start'].value"
              inputStyleClass="form-control"
              showTime="true"
              formControlName="end"
              [locale]="localeES"

            >
            </p-calendar>
            <p-calendar  *ngIf="!isEspanish"
            id="end"
            type=""
            dateFormat="dd/mm/yy"
            [minDate]="miFormulario.controls['start'].value"
            inputStyleClass="form-control"
            showTime="true"
            formControlName="end"
          >
          </p-calendar>
            <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('end')"
          >
            La fecha y hora de fin son requeridas
          </span>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <button
                type="button"
                class="btn btn-danger mx-3"
                routerLink="sesiones"
              >
                <i class="fas fa-arrow-circle-left"></i>
                Volver atrás
              </button>

              <button type="submit" class="btn btn-primary btn-block" [disabled]="miFormulario.invalid">
                Añadir
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
