mat-icon{
  color:white
}
.spacer {
  flex: 1 1 auto;
}

.mat-divider {
  border-top-color: white;
}

a{
  cursor: pointer;
}

::ng-deep .icono > .mat-expansion-indicator:after {
  color: white;
}

.container-fluid{
  /* background-color: rgb(236, 208, 208), */
  background-color: rgb(255, 215, 215)

}