<mat-sidenav-container *ngIf="sesion()">
  <mat-sidenav #sidenav mode="push" class="bg-dark">
    <mat-toolbar color="warn">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{'Panel de administracion'|translate}}</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="bg-dark"
      >
        <mat-expansion-panel-header class="icono">
          <mat-panel-title>
            <mat-nav-list>
              <a mat-list-item (click)="sidenav.toggle()">
                <i class="fas fa-users fa-2x text-white"></i>
                <span class="ms-1 text-white">{{'Usuarios'|translate}}</span>
              </a>
            </mat-nav-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/listaclientes"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="far fa-user text-white ms-4"></i>
            <span class="text-white ms-1">{{'Clientes'|translate}}</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/listaclientes"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="far fa-user text-white ms-4"></i>
            <span class="text-white ms-1">{{'Clientes'|translate}}</span>
          </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/listamonitores"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-user-tie text-white ms-4"></i>
            <span class="text-white ms-1">{{'Monitores'|translate}}</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/listamonitores"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-user-tie text-white ms-4"></i>
            <span class="text-white ms-1">{{'Monitores'|translate}}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="bg-dark"
      >
        <mat-expansion-panel-header class="icono">
          <mat-panel-title>
            <mat-nav-list>
              <a mat-list-item (click)="sidenav.toggle()">
                <i class="fas fa-running fa-2x text-white"></i>
                <span class="text-white ms-2">{{'Entrenamiento'|translate}}</span>
              </a>
            </mat-nav-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/ejercicios"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-dumbbell text-white ms-4"></i>
            <span class="ms-1 text-white">{{'ejercicios'|translate|titlecase}}</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/ejercicios"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-dumbbell text-white ms-4"></i>
            <span class="ms-1 text-white">{{'ejercicios'|translate|titlecase}}</span>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/musculos"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-heartbeat text-white ms-4"></i>
            <span class="ms-1 text-white">{{'Musculos'|translate}}</span>
          </a>

          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/musculos"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-heartbeat text-white ms-4"></i>
            <span class="ms-1 text-white">{{'Musculos'|translate}}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/actividades"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-user-clock text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">{{'actividades'|translate|titlecase}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/actividades"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-user-clock text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">{{'actividades'|translate|titlecase}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/salas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fab fa-buromobelexperte text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">{{'Salas'|translate}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/salas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fab fa-buromobelexperte text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">{{'Salas'|translate}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/sesiones"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-calendar-alt text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">{{'Sesiones'|translate}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/lista-sesiones"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-calendar-alt text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">{{'Sesiones'|translate}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/noticias"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-newspaper text-white ms-4 fa-2x"></i>
        <span class="ms-1 text-white">{{'noticias'|translate|titlecase}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/noticias"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-newspaper text-white ms-4 fa-2x"></i>
        <span class="ms-1 text-white">{{'noticias'|translate|titlecase}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/tarifas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-money-check-alt fa-2x text-white ms-4"></i>
        <span class="text-white ms-1">{{'Tarifas'|translate}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/tarifas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-money-check-alt fa-2x text-white ms-4"></i>
        <span class="text-white ms-1">{{'Tarifas'|translate}}</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/centros"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-building text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">{{'centros'|translate|titlecase}}</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/centros"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-building text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">{{'centros'|translate|titlecase}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="warn" *ngIf="isMonitor() || isAdmin()">
    <button
      *ngIf="isAdmin() || isMonitor()"
      mat-icon-button
      (click)="sidenav.toggle()"
      title="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a (click)="panel()" title="home"> <i class="fas fa-home text-white"></i></a>

    <span class="spacer"></span>

    <span
      >{{'Hola'|translate}} {{ usuario.nombre | titlecase }}!
      <!-- <i class="fas fa-user"></i> -->
      <!-- <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon></button> -->
    </span>
    <button  title="options" mat-button [matMenuTriggerFor]="beforeMenu">
      <i class="fas fa-chevron-down"></i>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button *ngIf="usuario.role==1"
        mat-menu-item
        [routerLink]="['/dashboard/admin/editar-perfil', usuario.email]"
      >
        {{'Editar perfil'|translate}} 
      <mat-icon>account_circle</mat-icon>
      </button>
      <button *ngIf="usuario.role==3"
      mat-menu-item
      [routerLink]="['/dashboard/monitor/editar-perfil', usuario.email]"
    >
    {{'Editar perfil'|translate}}  
    <mat-icon>account_circle</mat-icon>
    </button>
      <button mat-menu-item (click)="cerrarSesion()">
        {{'Cerrar sesion'|translate}}<i class="fas fa-sign-out-alt ms-2"></i>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-toolbar color="warn" *ngIf="isCliente()">
    <a (click)="panel()"> <i class="fas fa-home text-white"></i></a>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="./ejercicios"
                >{{'ejercicios'|translate|titlecase}}</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="./reservas"
                >{{'Reserva de clases'|translate}}</a
              >
            </li>           
          </ul>
        </div>
      </div>
    </nav>

    <span class="spacer"></span>

    <span
      >{{'Hola'|translate}} {{ usuario.nombre | titlecase }}!
    </span>
    <button title="options" mat-button [matMenuTriggerFor]="beforeMenu">
      <i class="fas fa-chevron-down"></i>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button *ngIf="usuario.role==2"
      mat-menu-item
      [routerLink]="['/dashboard/cliente/editar-perfil', usuario.email]"
    >
    {{'Editar perfil'|translate}}  
    <mat-icon>account_circle</mat-icon>
    </button>
      <button mat-menu-item (click)="cerrarSesion()">
        {{'Cerrar sesion'|translate}}<i class="fas fa-sign-out-alt ms-2"></i>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="container-fluid">
    <div class="container py-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
