<!-- <h1>Bienvenido a </h1> -->
<mat-sidenav-container *ngIf="sesion()">
  <mat-sidenav #sidenav mode="push" class="bg-dark">
    <mat-toolbar color="warn">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panel de administracion</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="bg-dark"
      >
        <mat-expansion-panel-header class="icono">
          <mat-panel-title>
            <mat-nav-list>
              <a mat-list-item (click)="sidenav.toggle()">
                <i class="fas fa-users fa-2x text-white"></i>
                <span class="ms-1 text-white">Usuarios</span>
              </a>
            </mat-nav-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/listaclientes"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="far fa-user text-white ms-4"></i>
            <span class="text-white ms-1">Clientes</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/listaclientes"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="far fa-user text-white ms-4"></i>
            <span class="text-white ms-1">Clientes</span>
          </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/listamonitores"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-user-tie text-white ms-4"></i>
            <span class="text-white ms-1">Monitores</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/listamonitores"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-user-tie text-white ms-4"></i>
            <span class="text-white ms-1">Monitores</span>
          </a>
        </mat-nav-list>
        <!-- <mat-nav-list *ngIf="isAdmin()">
          <a (click)="monitores()" mat-list-item (click)="sidenav.toggle()">
            <i class="fas fa-user-shield text-white ms-4"></i>
            <span class="text-white ms-1">Gerentes</span>
          </a>
        </mat-nav-list> -->
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="bg-dark"
      >
        <mat-expansion-panel-header class="icono">
          <mat-panel-title>
            <mat-nav-list>
              <a mat-list-item (click)="sidenav.toggle()">
                <i class="fas fa-running fa-2x text-white"></i>
                <span class="text-white ms-2">Entrenamiento</span>
              </a>
            </mat-nav-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>

        <mat-nav-list *ngIf="isAdmin() || isMonitor()">
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/ejercicios"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-dumbbell text-white ms-4"></i>
            <span class="ms-1 text-white">Ejercicios</span>
          </a>
          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/ejercicios"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-dumbbell text-white ms-4"></i>
            <span class="ms-1 text-white">Ejercicios</span>
          </a>
        </mat-nav-list>

        <mat-nav-list>
          <a
            *ngIf="isAdmin()"
            routerLink="./admin/musculos"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-heartbeat text-white ms-4"></i>
            <span class="ms-1 text-white">Musculos</span>
          </a>

          <a
            *ngIf="isMonitor()"
            routerLink="./monitor/musculos"
            mat-list-item
            (click)="sidenav.toggle()"
          >
            <i class="fas fa-heartbeat text-white ms-4"></i>
            <span class="ms-1 text-white">Musculos</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/actividades"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-user-clock text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">Actividades</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/actividades"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-user-clock text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">Actividades</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/salas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fab fa-buromobelexperte text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">Salas</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/salas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fab fa-buromobelexperte text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white ms-1">Salas</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/sesiones"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-calendar-alt text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">Sesiones</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/sesiones"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="far fa-calendar-alt text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">Sesiones</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a *ngIf="isAdmin()" routerLink="./admin/noticias" mat-list-item (click)="sidenav.toggle()">
        <i class="far fa-newspaper text-white ms-4 fa-2x"></i>
        <span class="ms-1 text-white">Noticias</span>
      </a>
      <a *ngIf="isMonitor()" routerLink="./monitor/noticias" mat-list-item (click)="sidenav.toggle()">
        <i class="far fa-newspaper text-white ms-4 fa-2x"></i>
        <span class="ms-1 text-white">Noticias</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        *ngIf="isAdmin()"
        routerLink="./admin/tarifas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-money-check-alt fa-2x text-white ms-4"></i>
        <span class="text-white ms-1">Tarifas</span>
      </a>
      <a
        *ngIf="isMonitor()"
        routerLink="./monitor/tarifas"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <i class="fas fa-money-check-alt fa-2x text-white ms-4"></i>
        <span class="text-white ms-1">Tarifas</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a *ngIf="isAdmin()" routerLink="./admin/centros" mat-list-item (click)="sidenav.toggle()">
        <i class="far fa-building text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">Centros</span>
      </a>
      <a *ngIf="isMonitor()" routerLink="./monitor/centros" mat-list-item (click)="sidenav.toggle()">
        <i class="far fa-building text-white fa-2x ms-4"></i>
        <span class="ms-1 text-white">Centros</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a (click)="panel()"> <i class="fas fa-home text-white"></i></a>

    <span class="spacer"></span>

    <span
      >Hola {{ usuario.nombre | titlecase }}!
      <!-- <i class="fas fa-user"></i> -->
    <!-- <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon></button> -->
     
    </span>
    <button mat-button [matMenuTriggerFor]="beforeMenu"> <mat-icon>account_circle</mat-icon></button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button  mat-menu-item   [routerLink]="['/dashboard/admin/editar-perfil', usuario.email]"
      >Editar perfil </button>
      <button mat-menu-item (click)="cerrarSesion()">Cerrar sesion</button>
    </mat-menu>
    

  </mat-toolbar>

  <div class="container-fluid">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
