<h1>{{'Añadiendo ejercicio'|translate}}</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="addEjercicio()" autocomplete="off">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >{{'Nombre'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
      {{'El nombre es requerido'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <span>{{'¿Que musculo utiliza'|translate}}?:</span>
    <select class="form-select mt-2" formControlName="nombre_musculo"  [ngClass]="{
      'is-invalid': campoNoValido('nombre_musculo')
    }">
      <option value="">{{'Seleccione un musculo'|translate}} ...</option>
      <option *ngFor="let musculo of musculos" [value]="musculo.nombre">
        {{ musculo.nombre | titlecase }}
      </option>
    </select>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre_musculo')"
    >
      {{'El musculo es requerido'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <span>{{'¿Que nivel tiene'|translate}}?:</span>
    <select class="form-select mt-2" formControlName="nivel"  [ngClass]="{
      'is-invalid': campoNoValido('nivel')
    }">
      <option value="">{{'Seleccione un nivel'|translate}} ...</option>
      <option value="principiante">{{'Principiante'|translate}}</option>
      <option value="intermedio">{{'Intermedio'|translate}}</option>
      <option value="avanzado">{{'Avanzado'|translate}}</option>
    </select>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nivel')"
    >
      {{'El nivel es requerido'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <span>{{'¿Que tipo de ejercicio es'|translate}}?:</span>
    <select class="form-select mt-2" formControlName="tipo"  [ngClass]="{
      'is-invalid': campoNoValido('tipo')
    }">
      <option value="">{{'Seleccione un tipo'|translate}} ...</option>
      <option value="basico">{{'Basico'|translate}}</option>
      <option value="multifuncional">{{'Multifuncional'|translate}}</option>
      <option value="analitico">{{'Analitico'|translate}}</option>
    </select>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('tipo')"
    >
      {{'El tipo es requerido'|translate}}</span
    >
  </div>
  <div class="mb-3">
    <label for="equipo" class="form-label"
      >{{'Equipo necesario para la realizacion del ejercicio'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('equipo')
      }"
      formControlName="equipo"
      type="text"
      class="form-control"
      id="equipo"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('equipo')"
    >
      {{'El equipo es requerido'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label mt-3"
      >{{'Descripcion'|translate}}:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('descripcion')
      }"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      formControlName="descripcion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('descripcion')"
    >
      {{'La descripcion es obligatoria'|translate}}
    </span>
  </div>

  <div class="my-3">
    <div class="mb-0" *ngIf="previsualizacion">
      <img [src]="previsualizacion" style="width: 300px; height: 300px" />
    </div>

    <label for="formFile" class="form-label">{{'Imagen'|translate}}:</label>
    <input
      id="formFile"
      [formControl]="file"
      (change)="fileChange($event)"
      type="file"
      placeholder="File"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label for="video" class="form-label">{{'Video'|translate}}: </label>
    <input
      formControlName="video"
      type="text"
      class="form-control"
      id="video"
    />
  </div>
  <div *ngIf="miFormulario.controls['video'].value!=''" class="row">
    <div class="col text-center">
        <iframe width="560" height="315" [src]="getVideoIframe(miFormulario.controls['video'].value)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 
  </div>
  <button type="button" class="btn btn-danger mx-3" routerLink="ejercicios">
    <i class="fas fa-arrow-circle-left"></i>
    {{'Volver atrás'|translate}}
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    {{'Añadir'|translate}}
  </button>
</form>
