<h3>¿Has olvidado tu contraseña de acceso?</h3>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="enviar()"
      class="p-5 border border-primary"
    >
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Ingrese el email con el que está registrado."
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
            type="submit"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
    <button
    type="submit"
    class="btn btn-danger mx-3"
    routerLink="/auth/login"
  >
  <i class="fas fa-arrow-circle-left"></i>
    Volver al login
      </button>
  </div>
</div>
