<!-- <app-shared></app-shared> -->
<form [formGroup]="miFormulario" (ngSubmit)="editar()">

<h1>
  {{'Informacion del monitor'|translate}}: {{ monitor.nombre | titlecase }}
  {{ monitor.apellido1 | titlecase }} {{ monitor.apellido2 | titlecase }}
</h1>
<div class="row">
  <div class="col-5">
    <div *ngIf="monitor.imagen" class="col text-center">
      <img
        [src]="monitor.imagen! | imagen"
        class="img-fluid img-thumbnail"
        style="width: 400px; height: 400px"
      />
    </div>
    <div *ngIf="monitor.imagen =='' || monitor.imagen==null" class="col text-center">
      <img
        src="http://www.iestrassierra.net/alumnado/curso2021/DAW/daw2021a2/assets/no-image.png"
        class="img-fluid img-thumbnail"
        style="width: 400px; height: 400px"
      />
    </div>

    <div class="my-3">
      <div class="mb-0" *ngIf="previsualizacion">
        <img [src]="previsualizacion" style="width: 300px; height: 300px" />
      </div>
  
      <label for="formFile" class="form-label">{{'Foto del monitor'|translate}}:</label>
      <input
        id="formFile"
        [formControl]="file"
        (change)="fileChange($event)"
        type="file"
        placeholder="File"
        class="form-control"
      />
    </div>
    <div class="row mt-5">
      <mat-form-field appearance="fill">
        <mat-label>{{'Seleccione un centro'|translate}}: </mat-label>
        <mat-select formControlName="id_centro">
          <mat-option *ngFor="let centro of centros" [value]="centro.id">
            {{ centro.nombre | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span
        class="form-text text-danger fst-italic"
        *ngIf="campoNoValido('id_centro')"
      >
      {{'La eleccion del centro es requerida'|translate}}
      </span>

      <mat-form-field appearance="fill">
        <mat-label>{{'Seleccione un rol'|translate}}: </mat-label>
        <mat-select formControlName="role">
          <mat-option value="2"> Cliente </mat-option>
          <mat-option value="3"> Monitor </mat-option>
        </mat-select>
      </mat-form-field>
      <span
        class="form-text text-danger fst-italic"
        *ngIf="campoNoValido('role')"
      >
      {{'La eleccion del rol es requerida'|translate}}
      </span>


      <mat-form-field appearance="fill" *ngIf="miFormulario.controls['role'].value==2">
        <mat-label>{{'Seleccione una tarifa'|translate}}: </mat-label>
        <mat-select formControlName="id_tarifa">
          <mat-option *ngFor="let tarifa of tarifas" [value]="tarifa.id">
            {{ tarifa.nombre | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span
        class="form-text text-danger fst-italic"
        *ngIf="campoNoValido('id_tarifa')"
      >
      {{'La eleccion de la tarifa es requerida'|translate}}
      </span>
    </div>
    <button
    type="button"
    class="btn btn-danger mx-3 mt-4"
    routerLink="/dashboard/admin/listamonitores"
  >
  <i class="fas fa-arrow-circle-left"></i>
  {{'Volver atrás'|translate}}
      </button>
  <button type="submit" class="btn btn-primary mt-4" [disabled]="miFormulario.invalid">
    {{'Actualizar datos'|translate}} 
    <i class="fa fa-edit"></i>
  </button>
  </div>

  <div class="col-6">
    <div class="row">
        <div class="row">
            <mat-form-field >
              <mat-label>{{'Email:(no se puede cambiar)'|translate}}</mat-label>
              <input matInput formControlName="email" readonly />
            </mat-form-field>
          <mat-form-field>
            <mat-label>{{'Nombre'|translate}}:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su nombre'|translate"
              formControlName="nombre"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('nombre')"
          >
          {{'El nombre es requerido'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Primer apellido'|translate}}:</mat-label>
            <input
              matInput
              [placeholder]="
              'placeholder.Introduzca su primer apellido' | translate
            "
              formControlName="apellido1"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('apellido1')"
          >
          {{'El primer apellido es requerido'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Segundo apellido'|translate}}:</mat-label>
            <input
              matInput
              [placeholder]="
              'placeholder.Introduzca su segundo apellido' | translate
            "
              formControlName="apellido2"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>DNI/NIE:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su dni' | translate"       
              formControlName="dni"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('dni')"
          >
            {{ dniErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Contraseña'|translate}}</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Introduzca su contraseña'|translate"
              formControlName="password"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password')"
          >
            {{ passwordErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Confirmar contraseña'|translate}}</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Introduzca la nueva contraseña'|translate"
              formControlName="password2"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password2')"
          >
          {{'Las contraseñas deben de ser iguales'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Nº de cuenta bancaria (24 digitos)'|translate}}: </mat-label>
            <input
              matInput 
              [placeholder]="'placeholder.Introduzca su contraseña' | translate"
              formControlName="cuenta_bancaria"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cuenta_bancaria')"
          >            {{ cuentaErrorMsg }}
          </span>

          <mat-radio-group formControlName="sexo" class="mb-4">
            {{'Sexo'|translate}}:
            <br />
            <mat-radio-button value="hombre" color="warn"
              >{{'Hombre'|translate}}</mat-radio-button
            >
            <br />
            <mat-radio-button value="mujer" color="warn"
              >{{'Mujer'|translate}}</mat-radio-button
            >
          </mat-radio-group>

          <mat-form-field>
            <mat-label>{{'Fecha de nacimiento'|translate}}: (+18) </mat-label>
            <input matInput type="date" formControlName="fecha_nac" />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('fecha_nac') || esMenor() "
          >
          {{'La edad minima requerida son 18 años'|translate}}
          </span>  

          <mat-form-field>
            <mat-label
              >{{'Nº de telefono'|translate}}: <mat-icon>call_end</mat-icon>
            </mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su numero de telefono' | translate"
              formControlName="telefono"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('telefono')"
          >
            {{ telefonoErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>{{'Ciudad'|translate}}:</mat-label>
            <input
              matInput
              formControlName="ciudad"
              [placeholder]="'placeholder.Introduzca la ciudad de su domicilio' | translate"  
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('ciudad')"
          >
          {{'La ciudad es requerida'|translate}}
          </span>

          <mat-form-field>
            <mat-label>{{'Direccion'|translate}}:</mat-label>
            <input
              matInput
              formControlName="direccion"
              [placeholder]="'placeholder.Introduzca su direccion' | translate"     
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('direccion')"
          >
          {{'La direccion es requerida'|translate}}
          </span>
          <mat-form-field>
            <mat-label>{{'Codigo postal'|translate}}:</mat-label>
            <input
              matInput
              formControlName="cod_postal"
              [placeholder]="'placeholder.Introduzca su codigo postal' | translate"      
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cod_postal')"
          >
          {{'El codigo postal es requerido'|translate}}
          </span>
        </div>
        
    </div>
  </div>
</div>
</form>