<div class="row">
    <div class="col-6">
        <h1 class="text-center">Clientes por gimnasio</h1>
        <hr>
            <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="colors"
                                    >
                </canvas>
            </div>
    </div>
    <div class="col-6">
        <h1 class="text-center">Sexo</h1>
        <hr>
            <div style="display: block">
                <canvas baseChart
                  [data]="dataSexo"
                  [labels]="labelsSexo"
                  [chartType]="doughnutChartType"
                  [colors]="colors"
>
                </canvas>
            </div>
    </div>
</div>





