<div>
  <div>
    <div>
      <div class="text-center mt-4">
          <h3>{{'Altas y bajas de clientes por mes y año'|translate}}</h3>
          <hr>
        <button type="button" class="btn btn-danger" (click)="anterior()">
            <i class="fas fa-backward"></i> {{'Año anterior'|translate}}
        </button>
        <button 
          class="mx-3 btn btn-secondary" disabled
        >
          {{'Año'|translate}} {{ anioActual }}
        </button>
        <button type="button" id="siguiente" disabled class="btn btn-primary" (click)="siguiente()">
          {{'Siguiente año'|translate}} <i class="fas fa-forward"></i>
        </button>
      </div>

      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
        ></canvas>
      </div>
      <button mat-button mat-raised-button color="warn" (click)="randomize()">
        {{'Cambiar vista'|translate}}
      </button>
      <span class="float-end text-primary"> {{'Total altas por año'|translate}}: {{ numAltas }} </span>
      <br>
      <span class="float-end text-primar" style="color: #d63384;"> {{'Total bajas por año'|translate}}: {{ numBajas}} </span>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12 col-md-6">
    <h3 class="text-center">{{'Clientes por gimnasio'|translate}}</h3>
    <hr />
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [colors]="colors"
      >
      </canvas>
    </div>
    <span class="float-end text-primary"> {{'Total clientes'|translate}}: {{ clientes }} </span>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="text-center">{{'Clientes por sexo'|translate}}</h3>
    <hr />
    <div style="display: block">
      <canvas
        baseChart
        [data]="dataSexo"
        [labels]="labelsSexo"
        [chartType]="doughnutChartType"
        [colors]="colors"
      >
      </canvas>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12 col-md-6">
    <h3 class="text-center">{{'Monitores por gimnasio'|translate}}</h3>
    <hr />
    <div style="display: block">
      <canvas
        baseChart
        [data]="doughnutChartDataMonitores"
        [labels]="doughnutChartLabelsMonitores"
        [chartType]="doughnutChartType"
        [colors]="colors"
      >
      </canvas>
    </div>
    <span class="float-end text-primary">
      {{'Total monitores'|translate}}: {{ monitores }}
    </span>
  </div>
  <div class="col-12 col-md-6">
    <h3 class="text-center">{{'Monitores por sexo'|translate}}</h3>
    <hr />
    <div style="display: block">
      <canvas
        baseChart
        [data]="dataSexoMonitores"
        [labels]="labelsSexoMonitores"
        [chartType]="doughnutChartType"
        [colors]="colors"
      >
      </canvas>
    </div>
  </div>
</div>
