<div class="cookies-box" *ngIf="mostrarMensaje">
  <div class="container-cookies">
    <div class="paragraphs">
      <p>
        Usamos cookies para asegurar que te damos la mejor experiencia en nuestra web. Si continúas usando este sitio, asumiremos que estás de acuerdo con ello.
      </p>
    </div>

    <div class="buttons">
      <button (click)="aceptar()">Aceptar</button>
    </div>
  </div>
</div>

<div class="modal">
  <div class="titulo">
    <h2>Politicas de cookies</h2>
    <button id="close_modal">X</button>
  </div>
  <div class="parrafo">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam minima
      porro amet saepe ipsum molestiae assumenda? Consequatur velit alias
      perferendis ea sed, doloremque ipsam fugiat quos unde minus quia ipsa!
    </p>
  </div>
  <div class="aceptar">
    <button id="aceptar_modal">Aceptar</button>
  </div>
</div>
