<h1>{{'Añadiendo a un nuevo monitor'|translate}}!</h1>
<mat-horizontal-stepper [linear]="true" #stepper>
  
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" autocomplete="off">
      <ng-template matStepLabel>{{'Paso 1'|translate}}</ng-template>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>{{ "Nombre" | translate }}:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su nombre' | translate"
              formControlName="nombre"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('nombre')"
          >
            <br />
            {{ "El nombre es requerido" | translate }}
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>{{ "Primer apellido" | translate }}:</mat-label>
            <input
              matInput
              [placeholder]="
              'placeholder.Introduzca su primer apellido' | translate
            "
              formControlName="apellido1"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('apellido1')"
          >
            <br />
            {{ "El primer apellido es requerido" | translate }}
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>{{ "Segundo apellido" | translate }}:</mat-label>
            <input
              matInput
              [placeholder]="
                  'placeholder.Introduzca su segundo apellido' | translate
                "
              formControlName="apellido2"
            />
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su email' | translate"
              formControlName="email"
              required
            />
          </mat-form-field>
          <br />
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('email')"
          >
            {{ emailErrorMsg }}
          </span>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-label>DNI/NIE:</mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su dni' | translate"                
              formControlName="dni"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('dni')"
          >
            <br />
            {{ dniErrorMsg }}
          </span>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-label>{{ "Contraseña" | translate }}</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Introduzca su contraseña' | translate"                
              formControlName="password"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password')"
          >
            <br />
            {{ passwordErrorMsg }}
          </span>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>{{ "Confirmar contraseña" | translate }}:</mat-label>
            <input
              type="password"
              matInput
              [placeholder]="'placeholder.Confirme su contraseña' | translate"                
              formControlName="password2"
              required
            />
          </mat-form-field>
          <br />
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password2')"
          >
          {{ "Las contraseñas deben de ser iguales" | translate }}
          </span>
        </div>

        <div class="col-12">  
          <button mat-raised-button matStepperPrevious color="warn" routerLink="/dashboard/admin/listamonitores">
            <i class="fas fa-arrow-circle-left"></i>
            {{ "Volver atrás" | translate }}
          </button>
          <button mat-raised-button matStepperNext color="primary" class="mt-5 mx-2">
            {{ "Siguiente" | translate }}
          <i class="fas fa-arrow-circle-right"></i>
        </button></div>
      
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup"  [label]="'label.Paso 2' | translate">
    <form [formGroup]="secondFormGroup" autocomplete="off">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>{{ "Nº de cuenta bancaria (24 digitos)" | translate }}: </mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su numero de cuenta bancaria' | translate"                
              formControlName="cuenta_bancaria"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cuenta_bancaria')"
          >
            <br />
            {{ cuentaErrorMsg }}
          </span>
        </div>
        <div class="col-12 col-md-6 mt-4">
          <mat-radio-group formControlName="sexo">
            {{ "Seleccione su sexo" | translate }}:
            <br>
            <mat-radio-button value="hombre" color="warn">{{
              "Hombre" | translate
            }}</mat-radio-button>
            <br>
            <mat-radio-button value="mujer" color="warn">{{
              "Mujer" | translate
            }}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-12 col-md-6 mt-4">
          <mat-form-field>
            <mat-label>{{ "Fecha de nacimiento" | translate }}: (+18) </mat-label>
            <input matInput type="date" formControlName="fecha_nac" />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('fecha_nac') || esMenor() "
          >
            <br />
            {{ "La edad minima requerida son 18 años" | translate }}
          </span>        
        </div>


        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label
              >{{ "Nº de telefono" | translate }}: <mat-icon>call_end</mat-icon>
            </mat-label>
            <input
              matInput
              [placeholder]="'placeholder.Introduzca su numero de telefono' | translate"                
              formControlName="telefono"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('telefono')"
          >
            <br />
            {{ telefonoErrorMsg }}
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>{{ "Ciudad" | translate }}:</mat-label>
            <input
              matInput
              formControlName="ciudad"
             [placeholder]="'placeholder.Introduzca la ciudad de su domicilio' | translate"                
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('ciudad')"
          >
            <br />
            {{ "La ciudad es requerida" | translate }}
          </span>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>{{ "Direccion" | translate }}:</mat-label>
            <input
              matInput
              formControlName="direccion"
              [placeholder]="'placeholder.Introduzca su direccion' | translate"                
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('direccion')"
          >
            <br />
            {{ "La direccion es requerida" | translate }}
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>{{ "Codigo postal" | translate }}:</mat-label>
            <input
              matInput
              formControlName="cod_postal"
              [placeholder]="'placeholder.Introduzca su codigo postal' | translate"                
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cod_postal')"
          >
            <br />
            {{ "El codigo postal es requerido" | translate }}
          </span>
        </div>
        
        <div class="row mt-4">
          <mat-form-field appearance="fill">
            <mat-label>{{'Seleccione un centro'|translate}}: </mat-label>
            <mat-select formControlName="id_centro">
              <mat-option *ngFor="let centro of centros" [value]="centro.id">
                {{centro.nombre|titlecase}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('id_centro')"
        >
         {{'La eleccion del centro es requerida'|translate}}
        </span>
        </div>

        <div class="col-12">
          <button mat-raised-button matStepperPrevious color="warn">
            <i class="fas fa-arrow-circle-left"></i>
            {{ "Anterior" | translate }}
          </button>
          <button mat-raised-button matStepperNext color="primary" class="mt-5 mx-2">
            {{'Siguiente'|translate}}
            <i class="fas fa-arrow-circle-right"></i>
            </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{ "Hecho" | translate }}</ng-template>
    <p>{{'Para terminar, pulse el boton de confirmar'|translate}}</p>
    <div>
      <button mat-raised-button matStepperPrevious color="warn">
        <i class="fas fa-arrow-circle-left"></i>
        {{'Anterior'|translate}} 
      </button>
      <button mat-raised-button matStepperNext color="primary" class="mt-5 mx-2" (click)="add()">
        {{'Confirmar'|translate}} <i class="fas fa-check-circle"></i>
        </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
