<div style="background-color: rgb(255, 215, 215);" class="m-3 p-5 row">
<h3>{{'Reestableciendo contraseña'|translate}}</h3>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="actualizarPassword()"
      class="p-5 border border-dark rounded border-2"
    >
    <div class="col">
        <mat-form-field>
          <mat-label>{{'Contraseña'|translate}}</mat-label>
          <input
            type="password"
            matInput
            [placeholder]="'placeholder.Introduzca la nueva contraseña'|translate"
            formControlName="password"
            required
          />
        </mat-form-field>
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('password')"
        >
          <br />
          {{ passwordErrorMsg }}
        </span>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label>{{'Confirmar contraseña'|translate}}</mat-label>
          <input
            type="password"
            matInput
            [placeholder]="'placeholder.Confirme su contraseña'|translate"
            formControlName="password2"
            required
          />
        </mat-form-field>
        <br />
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('password2')"
        >
          {{'Las contraseñas deben de ser iguales'|translate}}
        </span>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
            type="submit"
          >
          {{'Actualizar contraseña'|translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>