<h2>BIENVENID@ A FIT & HEALTHY</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="actualizarPassword()"
      class="p-5 border border-primary"
    >
    <div class="col-6">
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            matInput
            placeholder="Introduzca su contraseña"
            formControlName="password"
            required
          />
        </mat-form-field>
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('password')"
        >
          <br />
          {{ passwordErrorMsg }}
        </span>
      </div>

      <div class="col">
        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input
            type="password"
            matInput
            placeholder="Introduzca su nombre"
            formControlName="password2"
            required
          />
        </mat-form-field>
        <br />
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('password2')"
        >
          Las contraseñas deben de ser iguales
        </span>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
            type="submit"
          >
          Restablecer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
