<!-- <h1>Añadiendo cliente</h1>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="registrar()">
  <div class="row">
    <div class="col-12">
      <label for="dni">dni</label>
      <input name="dni" formControlName="dni" type="text" />
     
      <label for="password">Password</label>
      <input name="password" formControlName="password" type="password" />
     
      <label for="nombre">nombre</label>
      <input name="nombre" formControlName="nombre" type="text" />
     
      <label for="apellido1">apellido1</label>
      <input name="apellido1" formControlName="apellido1" type="text" />
     
      <label for="apellido2">apellido2</label>
      <input name="apellido2" formControlName="apellido2" type="text" />
     
      <label for="fecha_nac">fecha_nac</label>
      <input name="fecha_nac" formControlName="fecha_nac" type="date" />
     
      <label for="genero">genero</label>
      <input name="genero" formControlName="genero" type="text" />
      
      <label for="email">E-mail</label>
      <input name="email" formControlName="email" type="email" />

      <label for="telefono">telefono</label>
      <input name="telefono" formControlName="telefono" type="number" />

      <label for="cuenta_bancaria">cuenta_bancaria</label>
      <input name="cuenta_bancaria" formControlName="cuenta_bancaria" type="text" />
      
      <label for="ciudad">ciudad</label>
      <input name="ciudad" formControlName="ciudad" type="text" />

      <label for="direccion">direccion</label>
      <input name="direccion" formControlName="direccion" type="text" />

      <label for="cod_postal">cod_postal</label>
      <input name="cod_postal" formControlName="cod_postal" type="number" />

      <label for="id_tarifa">id_tarifa</label>
      <input name="id_tarifa" formControlName="id_tarifa" type="number" />

      <label for="id_centro">id_centro</label>
      <input name="id_centro" formControlName="id_centro" type="number" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Añadir cliente</button>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-danger" routerLink="/dashboard/admin">Regresar</button>
    </div>
  </div>
</form> -->

<!-- <h1>Añadiendo un nuevo cliente</h1>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Paso 1</ng-template>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              placeholder="Introduzca su nombre"
              formControlName="nombre"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('nombre')"
          >
            <br />
            El nombre es requerido
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Primer apellido:</mat-label>
            <input
              matInput
              placeholder="Introduzca su primer apellido"
              formControlName="apellido1"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('apellido1')"
          >
            <br />
            El primer apellido es requerido
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Segundo apellido:</mat-label>
            <input
              matInput
              placeholder="Introduzca su segundo apellido"
              formControlName="apellido2"
            />
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input
              matInput
              placeholder="Introduzca su email"
              formControlName="email"
              required
            />
          </mat-form-field>
          <br />
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('email')"
          >
            {{ emailErrorMsg }}
          </span>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-label>DNI/NIE:</mat-label>
            <input
              matInput
              placeholder="Introduzca su dni"
              formControlName="dni"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('dni')"
          >
            <br />
            {{ dniErrorMsg }}
          </span>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca su contraseña"
              formControlName="password"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password')"
          >
            <br />
            {{ passwordErrorMsg }}
          </span>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Confirmar contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca su nombre"
              formControlName="password2"
              required
            />
          </mat-form-field>
          <br />
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password2')"
          >
            Las contraseñas deben de ser iguales
          </span>
        </div>

        <div class="col-12">
          <button
            mat-raised-button
            matStepperPrevious
            color="warn"
            routerLink="/dashboard/admin/listaclientes"
          >
            Regresar
          </button>
          <button mat-raised-button matStepperNext color="primary" class="mt-5">
            Siguiente
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Paso 2">
    <form [formGroup]="secondFormGroup">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Nº de cuenta bancaria (24 digitos): </mat-label>
            <input
              matInput
              placeholder="Introduzca su numero de cuenta bancaria"
              formControlName="cuenta_bancaria"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cuenta_bancaria')"
          >
            <br />
            {{ cuentaErrorMsg }}
          </span>
        </div>
        <div class="col-12 col-md-6 mt-4">
          <mat-radio-group formControlName="sexo" required>
            Seleccione su sexo:
            <br />
            <mat-radio-button value="hombre" color="warn"
              >Hombre</mat-radio-button
            >
            <br />
            <mat-radio-button value="mujer" color="warn"
              >Mujer</mat-radio-button
            >
          </mat-radio-group>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="secondFormGroup.controls['sexo'].hasError('required')"
          >
            <br />
            ¿Eres hombre o mujer?
          </span>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Fecha de nacimiento: </mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker"
              formControlName="fecha_nac"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('fecha_nac')"
          >
            <br />
            La fecha de nacimiento es requerida
          </span>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label
              >Nº de telefono: <mat-icon>call_end</mat-icon>
            </mat-label>
            <input
              matInput
              placeholder="Introduzca su numero de telefono"
              formControlName="telefono"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('telefono')"
          >
            <br />
            {{ telefonoErrorMsg }}
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Ciudad:</mat-label>
            <input
              matInput
              formControlName="ciudad"
              placeholder="Introduzca la ciudad de su domicilio"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('ciudad')"
          >
            <br />
            El ciudad es requerida
          </span>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Direccion:</mat-label>
            <input
              matInput
              formControlName="direccion"
              placeholder="Introduzca su direccion"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('direccion')"
          >
            <br />
            La direccion es requerida
          </span>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <mat-form-field>
            <mat-label>Codigo postal:</mat-label>
            <input
              matInput
              formControlName="cod_postal"
              placeholder="Introduzca su codigo postal"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cod_postal')"
          >
            <br />
            El codigo postal es requerido
          </span>
        </div>

        <div class="col-12">
          <button mat-raised-button matStepperPrevious color="warn">
            Anterior
          </button>
          <button mat-raised-button matStepperNext color="primary" class="mt-5">
            Siguiente
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Paso 3">
    <form [formGroup]="thirdFormGroup">
      <div class="row mt-5">
        <div *ngFor="let tarifa of tarifas" class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">TARIFA {{ tarifa.nombre | uppercase }}</h5>
              <p class="card-text">{{ tarifa.descripcion | titlecase }}</p>
              <a class="btn btn-primary">{{ tarifa.precio }} €</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Seleccione una tarifa: </mat-label>
          <mat-select formControlName="id_tarifa">
            <mat-option *ngFor="let tarifa of tarifas" [value]="tarifa.id">
              {{ tarifa.nombre | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('id_tarifa')"
        >
          La eleccion de la tarifa es requerida
        </span>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Seleccione un centro: </mat-label>
          <mat-select formControlName="id_centro">
            <mat-option *ngFor="let centro of centros" [value]="centro.id">
              {{ centro.nombre | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span
          class="form-text text-danger fst-italic"
          *ngIf="campoNoValido('id_centro')"
        >
          La eleccion del centro es requerida
        </span>
      </div>
      <div class="mt-5">
        <button mat-raised-button matStepperPrevious color="warn">
          Anterior
        </button>
        <button mat-raised-button matStepperNext color="primary">
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Hecho</ng-template>
    <p>Para terminar, pulse el boton de Confirmar registro</p>
    <div>
      <button mat-raised-button matStepperPrevious color="warn">
        Anterior
      </button>
      <button
        mat-raised-button
        matStepperNext
        color="primary"
        class="mt-5"
        (click)="registrar()"
      >
        Confirmar registro
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->
