/* img{
    width: 125px;
    height: 75px;
} */

li {
  cursor: pointer;
}

.active {
  background-color: red;
  border-radius: 30px;
}

a{
  border-radius: 30px;
}

.color {
  background-color: #000000;
}

.spacer {
  flex: 1 1 auto;
}
