<div class="row" *ngIf="ejercicio">
  <div class="col">
    <div class="m-5">
      <h2>{{ ejercicio.nombre | uppercase }}</h2>
      <hr />
      <div class="col">
        <ul class="fichastec">
          <li>
            <i class="fanicon tipo-fuerza"></i> <strong>Tipo:</strong>
            {{ ejercicio.tipo | titlecase }}
          </li>
          <li>
            <i class="fanicon nivel-med"></i> <strong>Nivel:</strong>
            {{ ejercicio.nivel | titlecase }}
          </li>
          <li>
            <i class="fanicon involucra"></i>
            <strong>Músculo principal: </strong>
            <a href="./dashboard/ejercicios/{{ ejercicio.nombre_musculo }}">{{
              ejercicio.nombre_musculo | titlecase
            }}</a>
          </li>
          <li>
            <i class="fanicon equipo"></i> <strong>Equipo:</strong>
            {{ ejercicio.equipo | titlecase }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="ejercicio" class="row">
  <div class="col-6">
    <div *ngIf="ejercicio.imagen" class="col text-center mt-3">
      <img [src]="ejercicio.imagen! | imagen" class="img-fluid img-thumbnail" />
    </div>
  </div>
  <div class="col-6">
    {{ ejercicio.descripcion }}
  </div>
</div>
<div *ngIf="ejercicio.video!=''" class="row mt-5">
  <div class="col text-center">
    <h3>¿Como realizar el ejercicio?</h3>
    <iframe width="560" height="315" [src]="getVideoIframe(ejercicio.video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> 
</div>
<button
  type="button"
  class="btn btn-danger me-3"
  routerLink="/dashboard/ejercicios/{{ ejercicio.nombre_musculo }}"
>
  <i class="fas fa-arrow-circle-left"></i>
  Volver atras
</button>
