<div class="row">
  <div class="col">
    <h5>Categoria: {{ noticia.id_categoria }}</h5>
    <i class="far fa-calendar-alt"></i>
    <small>Publicado el {{ noticia.fecha | date }}</small>
    <i class="fas fa-user-edit ms-5"></i>
    <small>{{ noticia.email_usuario | titlecase }}</small>

    <div class="m-5">
      <h2>{{ noticia.titulo | uppercase }}</h2>
      <hr />
      {{ noticia.cuerpo }}
      
      <div  *ngIf="noticia.imagen" class="col text-center mt-3">
        <!-- <img src="../../../assets/no-image.png" class="card-img-top text-center" style="width: 500px;"/> -->
        <img [src]="noticia.imagen!|imagen" class="img-fluid img-thumbnail"/>
      
      </div>

    </div>

    <button
      *ngIf="!sesion()"
      type="button"
      class="btn btn-danger me-3"
      routerLink="/noticias"
    >
      <i class="fas fa-arrow-circle-left"></i>
      Volver atrás
    </button>
    <button
      *ngIf="sesion()"
      type="button"
      class="btn btn-danger me-3"
      routerLink="/dashboard/noticias"
    >
      <i class="fas fa-arrow-circle-left"></i>
      Volver atrás
    </button>

    <small *ngIf="noticia.fecha_edit != null" style="float: right"
      >Ultima edicion el {{ noticia.fecha_edit | date }}</small
    >
  </div>
</div>
<div class="row mt-4 p-5" *ngIf="noticias.length > 0">
  <H3 class="text-center">Noticias relacionadas</H3>
  <div
    class="card col-3 m-3 border border-3 border-danger"
    *ngFor="let noticia of noticias"
  >
    <div class="card-header">
      <i class="far fa-calendar-alt"></i> {{ noticia.fecha | date }}
      <br />
      <i class="fas fa-user-edit"></i> {{ noticia.email_usuario | titlecase }}
    </div>
    <div class="card-body">
      <i class="fas fa-tag me-1 mb-1"></i>
      <small>{{ noticia.id_categoria | titlecase }}</small> <br />
      <h5 class="card-title my-3">{{ noticia.titulo }}</h5>
      <button
        mat-raised-button
        *ngIf="sesion()"
        class="ms-2"
        color="warn"
        [routerLink]="['/dashboard/noticias', noticia.id]"
      >
        <i class="fas fa-search"></i> Ver la noticia completa.
      </button>
      <button
        mat-raised-button
        *ngIf="!sesion()"
        class="ms-2"
        color="warn"
        [routerLink]="['/noticias', noticia.id]"
      >
        <i class="fas fa-search"></i> Ver la noticia completa.
      </button>
      <br />
    </div>
  </div>
</div>
