<div class="row">
  <div class="col">
    <h5>Categoria: {{ noticia.id_categoria }}</h5>
    <i class="far fa-calendar-alt"></i>
    <small>Publicado el {{ noticia.fecha | date }}</small>
    <i class="fas fa-user-edit ms-5"></i>
    <small>{{ noticia.email_usuario | titlecase }}</small>

    <div class="m-5">
        <h2>{{ noticia.titulo | uppercase }}</h2>
        <hr />
          {{ noticia.cuerpo }}
    </div>

    <button *ngIf="!sesion()" type="button" class="btn btn-danger me-3" routerLink="/noticias">
        <i class="fas fa-arrow-circle-left"></i>
        Volver atrás
      </button>
      <button *ngIf="sesion()" type="button" class="btn btn-danger me-3" routerLink="/dashboard/noticias">
        <i class="fas fa-arrow-circle-left"></i>
        Volver atrás
      </button>
      
       <small *ngIf="noticia.fecha_edit!=null" style="float: right;">Ultima edicion el {{noticia.fecha_edit|date}}</small>
   
  </div>
</div>
