<h1>Editar centro {{centro.nombre}}</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="editarCentro()" autocomplete="off">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Nombre del centro:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
      El nombre es requerido
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Direccion:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('direccion')
      }"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="2"
      formControlName="direccion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('direccion')"
    >
      La direccion es obligatoria
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Telefono de contacto:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('telefono')
      }"
      formControlName="telefono"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('telefono')"
    >
      {{ telefonoErrorMsg }}
    </span>
  </div>
  <button type="button" class="btn btn-danger mx-3" routerLink="centros">
    <i class="fas fa-arrow-circle-left"></i>
    Volver atrás
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    Añadir
  </button>
</form>


