<h1>{{'Añadiendo centro'|translate}}</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="addCentro()" autocomplete="off">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >{{'Nombre del centro'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
    {{'El nombre es requerido'|translate}}
      
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >{{'Direccion'|translate}}:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('direccion')
      }"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="2"
      formControlName="direccion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('direccion')"
    >
      {{'La direccion es obligatoria'|translate}}
    </span>
  </div>
  
  <div class="mb-3">
    <label for="latitud" class="form-label"
      >{{'Latitud'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('latitud')
      }"
      formControlName="latitud"
      type="number"
      class="form-control"
      id="latitud"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('latitud')"
    >
      {{'La latitud es requerida'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="longitud" class="form-label"
      >{{'Longitud'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('longitud')
      }"
      formControlName="longitud"
      type="number"
      class="form-control"
      id="longitud"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('longitud')"
    >
      {{'La longitud es requerida'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="ubicacion" class="form-label"
      >{{'Ubicacion del centro'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('ubicacion')
      }"
      formControlName="ubicacion"
      type="text"
      class="form-control"
      id="ubicacion"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('ubicacion')"
    >
      {{'La ubicacion es requerida'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="telefono" class="form-label"
      >{{'Telefono de contacto'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('telefono')
      }"
      formControlName="telefono"
      type="text"
      class="form-control"
      id="telefono"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('telefono')"
    >
      {{ telefonoErrorMsg }}
    </span>
  </div>
  <button type="button" class="btn btn-danger mx-3" routerLink="centros">
    <i class="fas fa-arrow-circle-left"></i>
    {{'Volver atrás'|translate}}
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    {{'Añadir'|translate}}
  </button>
</form>

