<div class="card mb-3" *ngFor="let noticia of noticias">
  <div class="card-header">
    <i class="far fa-calendar-alt"></i> {{ noticia.fecha | date }} |
    <i class="fas fa-user-edit"></i> {{ noticia.email_usuario | titlecase }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ noticia.titulo }}</h5>
    <p class="card-text">{{ noticia.cuerpo | texto }}.</p>
    <button
      *ngIf="sesion()"
      class="btn btn-warning ms-2"
      [routerLink]="['/dashboard/noticias', noticia.id]"
    >
      Leer más... <i class="fas fa-search-plus"></i>
    </button>
    <button
      *ngIf="!sesion()"
      class="btn btn-warning ms-2"
      [routerLink]="['/noticias', noticia.id]"
    >
      Leer más... <i class="fas fa-search-plus"></i>
    </button>
    <br />
    <small>Categoria: {{ noticia.id_categoria | titlecase }}</small> <br />
  </div>
</div>
