<h1 mat-dialog-title>{{'Escriba el aforo de la nueva sala'|translate}}</h1>
<form [formGroup]="miFormulario" autocomplete="off">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{'Aforo'|translate}}: </mat-label>
      <input matInput autocomplete="off" formControlName="aforo" />
    </mat-form-field>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('aforo')"
    >
    <br>
     {{'El aforo es requerido'|translate}}
    </span>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()" cdkFocusInitial>{{'Cancelar'|translate}}</button>
    <button mat-raised-button type="submit" (click)="addSala()" color="primary" [disabled]="miFormulario.invalid">
      {{'Añadir'|translate}}
    </button>
  </div>
</form>

