<h1>{{'Editar tarifa'|translate}} {{this.tarifa.nombre}}</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="editarTarifa()">
  <div class="mb-3">
    <label for="nombre" class="form-label"
      >{{'Nombre de la tarifa'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="nombre"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
      {{'El nombre es requerido'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label"
      >{{'Descripcion'|translate}}:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('descripcion')
      }"
      class="form-control"
      id="descripcion"
      rows="3"
      formControlName="descripcion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('descripcion')"
    >
      {{'La descripcion es obligatoria'|translate}}
    </span>
  </div>
  <div class="mb-3">
    <label for="precio" class="form-label"
      >{{'Precio (euros)'|translate}}:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('precio')
      }"
      formControlName="precio"
      type="text"
      class="form-control"
      id="precio"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('precio')"
    >
      {{ precioMessage }}
    </span>
  </div>
  <button type="button" class="btn btn-danger mx-3" routerLink="tarifas">
    <i class="fas fa-arrow-circle-left"></i>
    {{'Volver atrás'|translate}}
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    {{'Editar tarifa'|translate}}
    <i class="fas fa-edit"></i>

  </button>
</form>

