<div class="row bg-dark">
  <div class="col">
    <span
      >Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit..." "There is no one who loves pain
      itself, who seeks after it and wants to have it, simply because it is
      pain..." Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur porttitor felis eros, sed elementum tortor mollis tempus. Ut
      luctus nec lorem id cursus. Cras maximus augue id maximus rhoncus. Nulla
      facilisi. Suspendisse ut pharetra ante. Aliquam sem lacus, eleifend et
      urna vitae, consectetur facilisis massa. Etiam non nibh posuere, aliquam
      lectus non, tincidunt dolor. Donec imperdiet dui libero, sit amet molestie
      nisl commodo et. Morbi ligula libero, venenatis ut libero sit amet,
      hendrerit sollicitudin massa. Vivamus et placerat felis, non elementum
      velit. Aliquam ante nisl, lacinia in luctus non, imperdiet sed lectus.
      Praesent ac eros interdum, aliquet leo id, ullamcorper orci. Suspendisse
      aliquam est magna, lobortis porttitor ex facilisis vel. Suspendisse
      sagittis posuere malesuada. Nunc at nisl volutpat, rutrum odio id,
      consequat est. Donec sed arcu ligula. In ut lobortis tellus. Phasellus
      consectetur elit non scelerisque tincidunt. Ut lobortis tincidunt congue.
      Fusce a fermentum enim. Donec egestas ante odio, eu dapibus lorem posuere
      ut. Curabitur sagittis odio vel quam ornare, a molestie nulla viverra. Nam
      felis enim, tempus sit amet pretium a, viverra et orci. Nulla pretium
      hendrerit magna eu egestas. Integer ornare volutpat facilisis. Aliquam a
      interdum orci. In iaculis ante quis ex tempus ornare. Nullam at egestas
      arcu. Etiam vel urna et nibh mollis mollis sit amet quis odio. Nullam eu
      viverra augue. Aliquam vitae tristique dui, nec blandit ex. Sed nec dui a
      leo sodales imperdiet. Curabitur egestas nisl purus, in tempus mi
      venenatis quis. Nunc gravida, nisi faucibus hendrerit vehicula, metus dui
    </span>
  </div>
</div>
