  <footer>
  <div class="row ">
    <div class="col-12 bg-dark text-white">
        <p class="text-center">
          <a href="https://www.youtube.com" target="_blank" title="youtube"><i class="fab fa-youtube fa-3x p-2 text-white"></i></a>
          <a href="https://es-es.facebook.com" target="_blank" title="facebook"><i class="fab fa-facebook fa-3x p-2 text-white"></i></a>
            <a href="https://twitter.com" target="_blank" title="twitter"><i class="fab fa-twitter fa-3x p-2 text-white"></i></a>
              <a href="https://www.instagram.com" target="_blank" title="instagram"><i class="fab fa-instagram fa-3x p-2 text-white"></i></a>
        </p>
    </div>
  </div>
  <div class="row bg-white ">
    <div class="col-12 listapie">
        <ul class="list-group list-group-horizontal list-group-mine table-responsive justify-content-center fst-italic">
            <li class="list-group-item ">{{'Quienes somos'|translate}}</li>
            <li class="list-group-item">{{'Mapa web'|translate}}</li>
            <li class="list-group-item">{{'Aviso legal'|translate}}</li>
            <li class="list-group-item">{{'Política de privacidad'|translate}}</li>
            <li class="list-group-item">{{'Política de cookies'|translate}}</li>
        </ul>
    </div>
</div>
<div class="row">
  <div class="col-12 bg-dark text-white">
      <p class="text-center pt-3">
        <i class="fas fa-copyright me-2"></i>
        <small>FIT & HEALTHY - {{'RESERVADOS TODOS LOS DERECHOS'|translate}}</small>
      </p>
  </div>
</div>
</footer>