<div style="background-color: rgb(255, 215, 215)" class="m-3 p-5 row">
  <div class="col-12">
    <h1 class="text-center">Actividades</h1>
    <hr />
    <span
      >En Fit & Healthy contamos con gran cantidad de actividades dirigidas,
      para adaptarnos a las necesidades de nuestros socios. Dependiendo de tu
      tarifa elegida, podrás elegir las actividades dirigidas que más te
      convengan con las que, además de practicar deporte y conseguir tus
      objetivos, ¡te divertirás!
    </span>
  </div>
  <div class="col-4 my-3" *ngFor="let actividad of actividades">
    <div
      class="card border border-3 border-danger"
      [routerLink]="['/actividades', actividad.id]"
    >
      <article>
        <img src="../../../assets/no-image.png" class="card-img-top" />
      </article>
      <div class="card-body">
        <p class="card-title text-center">
          {{ actividad.nombre | titlecase }}
        </p>
      </div>
    </div>
  </div>
  
</div>
