<div style="background-color: rgb(255, 215, 215)" class="m-3 p-5 row">
  <div class="col-12">
    <h1 class="text-center">¿Qué músculo quieres entrenar?</h1>
    <hr />
  </div>
  <div class=" col-12 col-md-4 col-lg-3 my-3" *ngFor="let musculo of musculos">
    <div
      class="card  border-3 border-dark border-rounded consebox "
      [routerLink]="['/dashboard/ejercicios', musculo.nombre]"
    >
      <div class="card-body bg-dark text-white">
        <p class="card-title text-center"></p>
        <h4 class="text-center">{{ musculo.nombre | titlecase }}</h4>
      </div>
      <img [src]="musculo.imagen!|imagen" class="card-img-top border-rounded" style="height: 250px;"/>


    </div>
  </div>
  <button
  type="button"
  class="btn btn-danger me-3"
  (click)="inicio()"
>
  <i class="fas fa-arrow-circle-left"></i>
  Volver al inicio
</button>
</div>
