<div class="container">
<h1>Añadiendo actividad</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="addActividad()" autocomplete="off">
  <div class="mb-3">
    <label for="nombre" class="form-label"
      >Nombre:
    </label>
    <input
      [ngClass]="{
        'is-invalid': campoNoValido('nombre')
      }"
      formControlName="nombre"
      type="text"
      class="form-control"
      id="nombre"
    />
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('nombre')"
    >
      El nombre es requerido
    </span>
  </div>
  <div class="mb-3">
    <span>¿Qué monitor impartira la actividad?:</span>  
    <select class="form-select mt-2" formControlName="email_monitor"  [ngClass]="{
      'is-invalid': campoNoValido('email_monitor')
    }">
      <option value="">Seleccion un monitor ...</option>
      <option *ngFor="let monitor of monitores" [value]="monitor.email">
        {{ monitor.nombre | titlecase }}
        {{ monitor.apellido1 | titlecase }} 
        {{ monitor.apellido2 | titlecase }}
      </option>
    </select>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('email_monitor')"
    >
      La monitor es requerido
    </span>
  </div>
  <div class="mb-3">
    <span>¿Que tarifa minima incluira dicha actividad?:</span>  
    <select class="form-select mt-2" formControlName="id_tarifa"  [ngClass]="{
      'is-invalid': campoNoValido('id_tarifa')
    }">
      <option value="">Seleccione una tarifa ...</option>
      <option *ngFor="let tarifa of tarifas" [value]="tarifa.id">
        {{ tarifa.nombre | titlecase }}
      </option>
    </select>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('id_tarifa')"
    >
      La tarifa es requerida
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label mt-3"
      >Descripcion:
    </label>
    <textarea
      [ngClass]="{
        'is-invalid': campoNoValido('descripcion')
      }"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="6"
      formControlName="descripcion"
    ></textarea>
    <span
      class="form-text text-danger fst-italic"
      *ngIf="campoNoValido('descripcion')"
    >
     El descripcion de la actividad es requerida
    </span>
  </div>
  <div class="mb-3">
    <label for="d" class="form-label">Color de referencia: </label>
    <input
      formControlName="color"
      type="text"
      class="form-control"
      id="d"
    />
  </div>

  <div class="my-3">
    <div class="mb-0" *ngIf="previsualizacion">
      <img [src]="previsualizacion" style="width: 300px; height: 300px" />
    </div>

    <label for="formFile" class="form-label">Imagen:</label>
    <input
      id="formFile"
      [formControl]="file"
      (change)="fileChange($event)"
      type="file"
      placeholder="File"
      class="form-control"
    />
  </div>
  
  <button type="button" class="btn btn-danger mx-3" routerLink="actividades">
    <i class="fas fa-arrow-circle-left"></i>
    Volver atrás
  </button>
  <button
    type="submit"
    [disabled]="miFormulario.invalid"
    class="btn btn-primary"
  >
    Añadir
  </button>
</form>
</div>