<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="warn">
      <span>Panel de administracion</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listaclientes" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Clientes</span>
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a routerLink="./listamonitores" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Monitores</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <!-- <span>{{ usuario }} </span> -->
  </mat-toolbar>


</mat-sidenav-container>
