<app-shared></app-shared>
<form [formGroup]="miFormulario" (ngSubmit)="editar()">

<h1>
  Informacion del monitor: {{ monitor.nombre | titlecase }}
  {{ monitor.apellido1 | titlecase }} {{ monitor.apellido2 | titlecase }}
</h1>
<div class="row">
  <div class="col-5">
    <img src="assets/no-image.png" class="img-fluid" />
   
    <button
    type="submit"
    class="btn btn-danger mx-3"
    routerLink="/dashboard/admin/listamonitores"
  >
  <i class="fas fa-arrow-circle-left"></i>
    Volver atrás
      </button>
  <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid">
    Actualizar datos 
    <i class="fa fa-edit"></i>
  </button>

    <div class="row mt-5">
      <mat-form-field appearance="fill">
        <mat-label>Seleccione un centro: </mat-label>
        <mat-select formControlName="id_centro">
          <mat-option *ngFor="let centro of centros" [value]="centro.id">
            {{ centro.nombre | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span
        class="form-text text-danger fst-italic"
        *ngIf="campoNoValido('id_centro')"
      >
        La eleccion del centro es requerida
      </span>

      <mat-form-field appearance="fill">
        <mat-label>Seleccione un rol: </mat-label>
        <mat-select formControlName="role">
          <mat-option value="2"> monitor </mat-option>
          <mat-option value="3"> Monitor </mat-option>
        </mat-select>
      </mat-form-field>
      <span
        class="form-text text-danger fst-italic"
        *ngIf="campoNoValido('role')"
      >
        La eleccion del rol es requerida
      </span>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
        <div class="row">
            <mat-form-field >
              <mat-label>Email:(no se puede cambiar)</mat-label>
              <input matInput formControlName="email" readonly />
            </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              placeholder="Introduzca su nombre"
              formControlName="nombre"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('nombre')"
          >
            El nombre es requerido
          </span>

          <mat-form-field>
            <mat-label>Primer apellido:</mat-label>
            <input
              matInput
              placeholder="Introduzca su primer apellido"
              formControlName="apellido1"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('apellido1')"
          >
            El primer apellido es requerido
          </span>

          <mat-form-field>
            <mat-label>Segundo apellido:</mat-label>
            <input
              matInput
              placeholder="Introduzca su segundo apellido"
              formControlName="apellido2"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>DNI/NIE:</mat-label>
            <input
              matInput
              placeholder="Introduzca su dni"
              formControlName="dni"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('dni')"
          >
            {{ dniErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca su contraseña"
              formControlName="password"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password')"
          >
            {{ passwordErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>Confirmar contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca su nombre"
              formControlName="password2"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('password2')"
          >
            Las contraseñas deben de ser iguales
          </span>

          <mat-form-field>
            <mat-label>Nº de cuenta bancaria (24 digitos): </mat-label>
            <input
              matInput 
              placeholder="Introduzca su numero de cuenta bancaria"
              formControlName="cuenta_bancaria"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cuenta_bancaria')"
          >            {{ cuentaErrorMsg }}
          </span>

          <mat-radio-group formControlName="sexo" class="mb-4">
            Seleccione su sexo:
            <br />
            <mat-radio-button value="hombre" color="warn"
              >Hombre</mat-radio-button
            >
            <br />
            <mat-radio-button value="mujer" color="warn"
              >Mujer</mat-radio-button
            >
          </mat-radio-group>

          <mat-form-field>
            <mat-label>Fecha de nacimiento: </mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker"
              formControlName="fecha_nac"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('fecha_nac')"
          >
            La fecha de nacimiento es requerida
          </span>

          <mat-form-field>
            <mat-label
              >Nº de telefono: <mat-icon>call_end</mat-icon>
            </mat-label>
            <input
              matInput
              placeholder="Introduzca su numero de telefono"
              formControlName="telefono"
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('telefono')"
          >
            {{ telefonoErrorMsg }}
          </span>

          <mat-form-field>
            <mat-label>Ciudad:</mat-label>
            <input
              matInput
              formControlName="ciudad"
              placeholder="Introduzca la ciudad de su domicilio"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('ciudad')"
          >
            El ciudad es requerida
          </span>

          <mat-form-field>
            <mat-label>Direccion:</mat-label>
            <input
              matInput
              formControlName="direccion"
              placeholder="Introduzca su direccion"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('direccion')"
          >
            La direccion es requerida
          </span>
          <mat-form-field>
            <mat-label>Codigo postal:</mat-label>
            <input
              matInput
              formControlName="cod_postal"
              placeholder="Introduzca su codigo postal"
              required
            />
          </mat-form-field>
          <span
            class="form-text text-danger fst-italic"
            *ngIf="campoNoValido('cod_postal')"
          >
            El codigo postal es requerido
          </span>
        </div>
        
    </div>
  </div>
</div>
</form>